<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h3>TV Show App - Work Sample by Patrik Forsberg
        <a href="mailto:patrik.forsberg@coldmind.com">patrik.forsberg@coldmind.com</a></h3>

        @RenderBody()
    </div>
</body>
</html>